<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
</head>
<header>
    <nav >
        <ul>
            <li>
                <a href="/">home</a>
            </li>
            <li>
                <a href="/login">login</a>
            </li>
            <li>
                <a  href="/signup">signup</a>
            </li>
        </ul>
    </nav>
<body>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="js/script.js"></script>
    <div id="message-div"></div>
    <form id="send-container">
        <div>
            <label for="message">Enter a message</label>
            <input type="text" id="message">
        </div>
        <button type="submit" id="send-button">Send</button> 
    </form>
</body>
</html>