<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>realtime-chat</title>
</head>
<header>
  <nav >
      <ul>
          <li>
              <a href="/">home</a>
          </li>
          <li>
              <a href="/login">login</a>
          </li>
          <li>
              <a  href="/signup">signup</a>
          </li>
      </ul>
  </nav>
</header>
<body>
  <h1>Welcome - login for start chatting</h1>
</body>
</html>