<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<header>
    <nav >
        <ul>
            <li>
                <a href="/">home</a>
            </li>
            <li >
                <a href="/login">login</a>
            </li>
            <li>
                <a  href="/signup">signup</a>
            </li>
        </ul>
    </nav>
</header>
<body>
    <form>
        <div>
            <label for="email">E-Mail</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <button type="submit">Login</button>
    </form>    
</body>
</html>